* { box-sizing: border-box; }
html, body { background: rgb(240,240,240); font-family: Arial; }
.container { background: rgb(255,255,255);  border: solid 1px rgb(230,230,230); }
.header { padding: 16px; border-bottom: solid 1px rgb(230,230,230) }
.header h1 { font-size: 14px; }
.task { padding: 16px; border-bottom: solid 1px rgb(230,230,230)}
.task input { margin-right: 16px; }
.task_form input { font-size: 20px; padding: 8px; width: 100%; outline: none}
.task_form {padding: 16px; }

